<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pe.moe.nori"
          android:versionCode="7"
          android:versionName="1.1.2">

  <uses-sdk
    android:minSdkVersion="10"
    android:targetSdkVersion="18"/>

  <supports-screens android:largeScreens="true"/>
  <supports-screens android:xlargeScreens="true"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name="pe.moe.nori.SearchActivity"
      android:label="@string/app_name"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name="pe.moe.nori.HelpActivity"
      android:icon="@drawable/ic_activity_default"
      android:parentActivityName="pe.moe.nori.SearchActivity"
      android:label="@string/activity_label_help"/>
    <activity
      android:name="pe.moe.nori.SettingsActivity"
      android:icon="@drawable/ic_activity_default"
      android:parentActivityName="pe.moe.nori.SearchActivity"
      android:label="@string/activity_label_settings"/>
    <activity
      android:name="pe.moe.nori.ImageViewerActivity"
      android:icon="@drawable/ic_activity_default"
      android:theme="@style/ImageViewerTheme"
      android:parentActivityName="pe.moe.nori.SearchActivity"
      android:launchMode="singleTask"
      android:label="@string/app_name"/>
    <activity
      android:name="pe.moe.nori.ServiceSettingsActivity"
      android:icon="@drawable/ic_activity_default"
      android:parentActivityName="pe.moe.nori.SettingsActivity"
      android:label="@string/activity_label_serviceSettings"/>

    <service
      android:name="pe.moe.nori.services.ResourceTypeDetectService"/>
    <receiver
      android:name=".services.ServiceSettingChangesReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="pe.moe.nori.services.ResourceTypeDetectService.result"/>
      </intent-filter>
      <intent-filter>
        <action android:name="pe.moe.nori.providers.ServiceSettingsProvider.remove"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
