<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cuddlesoft.nori"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to access the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Needed to assess network condition and decide whether to download high resolution images
    by default. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Needed to download images to external storage. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Needed to set images as wallpapers. -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageViewerActivity"
            android:theme="@style/ImageViewerTheme">
        </activity>
    </application>

</manifest>
